{% extends "base.html.twig" %}

{% block title %}
    Preview des Exercices
{% endblock %}
{% block body %}
<section class="content">
    <h1>Preview de {{programme.name}}</h1>
</section>
    {% for ex in programme.exercices %}
         <button class="accordion">{{ex.exercice.name}}</button>
            <div class="panel">
                <p>{{ex.exercice.Instruction}}</p>
            </div>

    {% endfor %}
    <script>
    var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
{% endblock %}
