{% extends "base.html.twig" %}

{% block title %}
    Preview des Exercices
{% endblock %}
{% block body %}
<section class="content preview-page">
    <h1>Preview de {{programme.name}}</h1>

    {% for ex in programme.exercices %}
         <button class="accordion">{{ex.exercice.name}}
            <span class=''>
                <i class="fa-solid fa-angle-down"></i>
            </span>
            <span class='hidden'>
                <i class="fa-solid fa-angle-up"></i>
            </span>
         </button>
         
            <div class="panel">
                <p>{{ex.exercice.Instruction}}</p>
            </div>

    {% endfor %}
    <div class="btn-container">
    <a href="{{path('programmes.training',{slug:programme.slug})}}" class='button btn-principal'>Commencez</a>
    </div>
</section>
    <script>
    let acc = document.getElementsByClassName("accordion");
let i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    const panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
{% endblock %}
