{% extends "base.html.twig" %}

{% block title %}
    A propos de nous
{% endblock %}

{% block body %}
    <section class="content about">
        <h1>A propos de nous</h1>
        <h2>À propos de Sporting</h2>
        <p>
            Bienvenue sur Sporting, votre destination en ligne pour des programmes de sport adaptés à vos besoins et objectifs. Que vous soyez débutant, intermédiaire ou avancé, Sporting vous offre une variété de programmes d'entraînement, des conseils nutritionnels, et un suivi personnalisé pour vous aider à atteindre vos objectifs de forme physique.
        </p>

        <h3>Notre Mission</h3>
        <p>
            Chez Sporting, notre mission est de rendre le sport accessible à tous. Nous croyons que chacun mérite d'avoir accès à des ressources de qualité pour améliorer sa santé et son bien-être. Nous nous engageons à fournir des programmes efficaces, adaptés à tous les niveaux, afin de motiver et d'inspirer nos utilisateurs à atteindre leurs meilleures performances.
        </p>

        <h3>Ce Que Nous Offrons</h3>
        <ul>
            <li><strong>Programmes Personnalisés :</strong> Des plans d'entraînement conçus pour répondre à vos objectifs spécifiques, qu'il s'agisse de perdre du poids, de gagner en masse musculaire, ou simplement de rester en forme.</li>
            <li><strong>Coaching Professionnel :</strong> Bénéficiez des conseils d'entraîneurs certifiés pour vous guider tout au long de votre parcours.</li>
            <li><strong>Suivi et Progression :</strong> Suivez vos progrès avec nos outils de suivi et recevez des recommandations pour améliorer vos performances.</li>
            <li><strong>Communauté :</strong> Rejoignez une communauté de passionnés de sport pour échanger, partager et se motiver mutuellement.</li>
        </ul>

        <h3>Pourquoi Choisir Sporting ?</h3>
        <p>
            Sporting n'est pas seulement un site de sport. C'est une communauté dédiée à votre bien-être et à votre succès personnel. Nous utilisons les dernières technologies et les meilleures pratiques du secteur pour vous offrir une expérience d'entraînement sans égale. Rejoignez-nous et faites le premier pas vers une version plus saine et plus forte de vous-même.
        </p>

        <h3>Contactez-Nous</h3>
        <p>
            Si vous avez des questions, des commentaires ou des suggestions, n'hésitez pas à nous contacter via notre page de contact. Nous sommes toujours là pour vous aider à tirer le meilleur parti de votre expérience avec Sporting.
        </p>
    </section>
{% endblock %}