{% extends "base.html.twig" %}

{% block body %}
    <section class="content text-center">
        <h1>Conditions d'utilisation</h1>
        <p>Dernière mise à jour : 02/09/2024</p>
        <h2>1. Acceptation des Conditions</h2>
        <p>En accédant ou en utilisant notre site Web Sporting (ci-après le « Site »), vous acceptez de vous conformer à ces Conditions d'utilisation (les « Conditions »). Si vous n'acceptez pas ces Conditions, veuillez ne pas utiliser le Site.</p>
        <h2>2. Inscription et Compte Utilisateur</h2>
        <p>2.1.<strong>Inscription</strong> <br>
Pour accéder à certaines fonctionnalités du Site, vous devez créer un compte en fournissant des informations personnelles exactes et complètes. Vous vous engagez à mettre à jour vos informations en cas de changement.</p>
        <p>2.2. <strong>Responsabilité du Compte</strong><br>
        Vous êtes responsable de la confidentialité de votre mot de passe et de toutes les activités qui se produisent sous votre compte. Vous devez notifier immédiatement Sporting en cas de suspicion d'utilisation non autorisée de votre compte.</p>
        <p>2.3. <strong>Éligibilité</strong><br>
        Vous devez avoir au moins 18 ans pour créer un compte. Si vous êtes mineur, vous devez obtenir la permission de vos parents ou tuteurs légaux.</p>
        <h2>3. Utilisation du Site</h2>
        <p>3.1. <strong> Licence d'Utilisation</strong><br>
        Nous vous accordons une licence limitée, non exclusive, non transférable et révocable pour accéder au Site et utiliser les programmes de sport à des fins personnelles et non commerciales.
        </p>
        <p>3.2. <strong>Restrictions</strong><br>
        3.2. Restrictions
        </p>
        <ul>
            <li>Utiliser le Site de manière illégale ou pour des activités interdites par ces Conditions.</li>
            <li>Accéder ou tenter d'accéder au Site de manière non autorisée.</li>
            <li>Modifier, distribuer ou créer des œuvres dérivées basées sur le Site ou son contenu.</li>
            <li>Utiliser le Site pour envoyer des spams ou des communications non sollicitées.</li>
        </ul>
        <h2>4. Contenu et Propriété Intellectuelle</h2>
        <p>4.1. <strong>Propriété</strong><br>
            Le Site et tout son contenu, y compris les textes, graphiques, logos, images et logiciels, sont protégés par des droits de propriété intellectuelle et sont la propriété de Sporting ou de ses partenaires.
        </p>
        <p>4.2. <strong>Utilisation du Contenu</strong>
            Vous pouvez consulter le contenu du Site uniquement à des fins personnelles. Toute utilisation commerciale, reproduction ou distribution du contenu sans autorisation est interdite.
        </p>
        <h2>5. Politique de Confidentialité</h2>
        <p> 5.1.<strong> Collecte de Données</strong><br>
        Nous collectons et utilisons vos informations personnelles conformément à notre Politique de Confidentialité. En utilisant le Site, vous consentez à la collecte et à l'utilisation de vos informations conformément à cette politique.
        </p>
        <p><strong>5.2. Sécurité</strong><br>
        Nous prenons des mesures raisonnables pour protéger vos informations personnelles, mais nous ne garantissons pas une sécurité absolue.
        </p>
        <h2>6. Exclusion de Responsabilité</h2>
        <p>6.1.<strong>Contenu du Site</strong><br>
        Le Site et son contenu sont fournis "tels quels" sans garantie d'aucune sorte. Nous ne garantissons pas que le Site sera toujours disponible, sans erreur ou sans virus.
        </p>
        <p>6.2.<strong> Programmes de Sport</strong><br>
        Les programmes de sport proposés sur le Site sont à titre informatif seulement. Consultez un professionnel de la santé avant de commencer tout programme d'exercice.
        </p>
        <h2>7. Modifications du Site et des Conditions</h2>
        <p>7.1. <strong>Modifications</strong><br>
        Nous nous réservons le droit de modifier le Site ou ces Conditions à tout moment. Les modifications entreront en vigueur dès leur publication sur le Site.
        </p>
        <p>7.2.<strong>Notification</strong><br>
        Nous informerons les utilisateurs des modifications importantes par le biais d'une notification sur le Site ou par email. Votre utilisation continue du Site après ces modifications constitue votre acceptation des nouvelles Conditions.
        </p>
        <h2>8. Résiliation</h2>
        <p>Nous nous réservons le droit de suspendre ou de résilier votre accès au Site à tout moment et sans préavis si vous enfreignez ces Conditions.</p>
        <h2>9. Loi Applicable</h2>
        <p>
        Ces Conditions sont régies par les lois en vigueur dans [Votre Pays]. Tout litige découlant de votre utilisation du Site sera soumis aux tribunaux compétents de [Votre Juridiction].
        </p>
        <h2>10. Contact</h2>
        <p>Pour toute question concernant ces Conditions, veuillez nous contacter à [Adresse Email de Contact].</p>
    </section>
{% endblock %}