{% extends 'base.html.twig' %}

{% block title %}Hello RgpdController!{% endblock %}

{% block body %}
    <section class="content">
        <h1>Mentions Légale</h1>
        <ul>
            <li>
                <h2>1.Éditeur du site :</h2>
                <p>Le site [Nom du site] est édité par [Nom de l'entreprise], [Forme juridique] au capital de [Montant du capital], immatriculée au Registre du Commerce et des Sociétés de [Ville] sous le numéro [Numéro RCS].
                    Siège social : [Adresse complète]
                    Contact : [Adresse email] | Téléphone : [Numéro de téléphone]
                    Directeur de la publication : [Nom du responsable]</p>
            </li>
            <li>
                <h2>2. Hébergement du site </h2>
                <p>Le site est hébergé par [Nom de l'hébergeur], dont le siège social est situé à [Adresse complète de l'hébergeur].
                    Contact : [Adresse email] | Téléphone : [Numéro de téléphone]</p>
            </li>
            <li>
                <h2>3. Propriété intellectuelle :</h2>
                <p>Tous les contenus présents sur le site (textes, images, graphismes, logo, vidéos, etc.) sont la propriété exclusive de [Nom de l'entreprise] ou sont utilisés avec l'autorisation de leurs propriétaires. Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de [Nom de l'entreprise].</p>
            </li>
            <li>
                <h2>4. Données personnelles :</h2>
                <p>Conformément à la loi "Informatique et Libertés" et au Règlement Général sur la Protection des Données (RGPD), [Nom de l'entreprise] s'engage à ce que la collecte et le traitement de vos données, effectués à partir du site [Nom du site], soient conformes aux règles de protection des données personnelles.
Les informations recueillies lors de votre inscription et utilisation du site sont destinées à [Nom de l'entreprise] pour la gestion de votre compte utilisateur et pour vous fournir les services demandés. Elles ne seront ni vendues ni cédées à des tiers sans votre consentement préalable, sauf si la loi l'exige.
Vous disposez d'un droit d'accès, de rectification, d'effacement, de limitation du traitement, d'opposition, et de portabilité de vos données. Pour exercer ces droits, veuillez contacter [Adresse email de contact pour les données personnelles].</p>
            </li>
            <li>
                <h2>5. Limitation de responsabilité :</h2>
                <p>[Nom de l'entreprise] ne peut être tenue pour responsable des dommages directs ou indirects causés au matériel de l'utilisateur lors de l'accès au site [Nom du site].
Le site peut contenir des liens hypertextes vers d'autres sites. [Nom de l'entreprise] n'a pas le contrôle sur ces sites et n'assume aucune responsabilité quant à leur contenu.</p>
            </li>
            <li>
                <h2>6. Conditions d'inscription et de connexion :</h2>
                <p>Pour s'inscrire et utiliser les services du site, l'utilisateur doit fournir des informations exactes et à jour. [Nom de l'entreprise] se réserve le droit de suspendre ou de résilier tout compte utilisateur qui ne respecterait pas les présentes conditions d'utilisation.</p>
            </li>
            <li>
                <h2>7. Modification des mentions légales :</h2>
                <p>[Nom de l'entreprise] se réserve le droit de modifier les présentes mentions légales à tout moment. Les utilisateurs sont invités à les consulter régulièrement.</p>
            </li>
            <li>
                <h2>8. Droit applicable et attribution de juridiction :</h2>
                <p>Les présentes mentions légales sont soumises au droit français. En cas de litige, compétence exclusive est attribuée aux tribunaux compétents de [Ville du siège social].</p>
            </li>
        </ul>
    </section>
{% endblock %}
