{% extends 'base.html.twig' %}
{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
    <section class="container mt-4">
    <h1 class="text-center">Inscription</h1>
    <div id="center-form">
    {{form_start(form, {'attr': {'class': ""}})}}
    {{form_widget(form)}}
    <div class="btn-container">
    <button type='submit' class="button btn-principal">S'inscrire</button>
    </div>
    {{form_end(form)}}
    </div>
    </section>

{% endblock %}

