<div class="dashboard">

	<div class="overlay">
	
	<h2>welcome</h2>
	
	<script src="https://cdn.lordicon.com/lordicon.js"></script>
	<lord-icon
    src="https://cdn.lordicon.com/rmkahxvq.json"
    trigger="hover"
    style="width:55px;height:55px">
	</lord-icon>
	</div>

</div>
