<div class="dashboard anim animate fade-inC">

	<div class="header-text">

		<p>Sporting</p>

		<h1>Le lieu pour trouver vos programmes</h1>
		<a href="#trending">
			<button class="button btn-principal">Commencez</button>
		</a>
	</div>
	<span class='shape'></span>
	<span class='shape1'></span>


</div>
