<div class="dashboard">

	<div class="header-text">

		<p>Sporting</p>

		<h1>The place to Find Your Workout Programs</h1>
		<a href="#trending">
			<button class="button btn-principal">Get Started</button>
		</a>
	</div>
	<span class='shape'></span>
	<span class='shape1'></span>


</div>
