<div class="dashboard">

	<div class="overlay">
	
	<h2>welcome</h2>

	<p>better shape for a better life</p>

	</div>

	<a href=""><button class="button btn-principal" >Get Started</button></a>

</div>
