<div class="dashboard">

	<div class="header-text">
	
	<h2>welcome</h2>

	<p>better shape for a better life</p>

	</div>

	<a href=""><button class="button btn-principal" >Get Started</button></a>

    <div class="header-img">
        <img src="{{asset('/img/a_banner_for_a_fitness_website_with_a_black_men_from_5918edbf-5294-46c5-bac6-c4e74b773114-removebg-preview.png')}}" alt="">
    </div>

</div>
