{% if programmes is not null %}
			
<div
	class="swiper slider-programme">
		
	<!-- Additional required wrapper -->
	<div
		class="swiper-wrapper">
		<!-- Slides -->
		{% if programmes|length > 0 %}
		{% for programme in programmes %}
			
			
			<div class="swiper-slide">
			<a href="{{ path('user.programmes.details', {'slug': programme.slug}) }}" class="pro-list">

			
				<p>{{programme.name}} <i class="fa-solid fa-fire" style="color: #ff5900;"></i></p>

				{% for i in range(0, 4) %}
        			<i class="{{ i < programme.moyenne ? 'fa-solid' : 'fa-regular' }} fa-star"></i>
    			{% endfor %}

				
		
			</a>
				
			</div>
			
				
		{% endfor %}
		{% else %}
			<p>rien a voir ici</p>
		{% endif %}

	</div>
	<!-- If we need pagination -->
	<div class="swiper-pagination"></div>
	
	

</div>
	{% else %}
				<p>Aucun donnée pour le moment</p>
		{% endif %}