

			
<div
	class="swiper slider-programme anim fade-inC">
		
	<!-- Additional required wrapper -->
	<div
		class="swiper-wrapper">
		<!-- Slides -->
		{% for protype in protypes %}
			<div class="swiper-slide">
			<a href="{{ path('user.programmes.index', {slug: protype.slug}) }}" class='pro-content'>
					<span></span>
                    <img src="{{ vich_uploader_asset(protype) }}" alt="">
                    <h3>{{ protype.name }}</h3>
                </a>
				
			</div>
		{% endfor %}

	</div>
	<!-- If we need pagination -->
	<div class="swiper-pagination"></div>
	
	

</div>
	