{% extends 'base.html.twig' %}

{% block body %}
	<section class="">
		{% include "Home/_dashboard.html.twig" %}
		<div class="title">
			<hr>
			<h2>Get Started</h2>
			<hr>
		</div>
		<div class="htop-Content">
			<div class="left"></div>
			<div class="right">
				<p>Bonjour et bienvenue sur Sporting ! Nous sommes votre destination ultime pour des programmes d'entraînement personnalisés, conçus pour vous aider à atteindre vos objectifs de remise en forme, que vous préfériez vous entraîner à la maison ou en salle de sport. Nos programmes sont soigneusement élaborés par des experts en fitness, et sont adaptés à tous les niveaux, des débutants aux athlètes confirmés.</p>
			</div>
		</div>
		<div class="title">
			<hr>
			<h2>Nos Programmes</h2>
			<hr>
		</div>
		<div class="hmiddle-content">
			{% for protype in protypes %}
				<a href="{{path('user.programmes.index')}}" class='right'>
					<img src="{{vich_uploader_asset(protype)}}" alt="">
					<h3>{{protype.name}}</h3>
				</a>

			{% endfor %}

		</div>
	</section>
{% endblock %}
