{% extends 'base.html.twig' %}

{% block body %}
	<section class="">
		{% include "Home/_dashboard.html.twig" %}
			<div class="title">
				<hr>
				<h2>Get Started</h2>
				<hr>				
			</div>
		<div class="htop-Content">
			<div class="left"></div>
			<div class="right">
				<p>Bonjour et bienvenue sur Sporting ! Nous sommes votre destination ultime pour des programmes d'entraînement personnalisés, conçus pour vous aider à atteindre vos objectifs de remise en forme, que vous préfériez vous entraîner à la maison ou en salle de sport. Nos programmes sont soigneusement élaborés par des experts en fitness, et sont adaptés à tous les niveaux, des débutants aux athlètes confirmés. Que vous souhaitiez développer votre force, sculpter votre corps ou simplement améliorer votre bien-être général, notre équipe est là pour vous guider à chaque étape du chemin. Rejoignez-nous dès aujourd'hui et commencez votre voyage vers une vie plus saine et plus active !</p>
			</div>
		</div>
		<div class="title">
				<hr>
				<h2>Nos Programmes</h2>
				<hr>				
			</div>
		<div class="hmiddle-content">
			<a href="" class="left">
				<img src="{{asset('/img/atGym.jpg')}}" alt="">
				<h3>En Salle</h3>
			</a>
			<a href="" class="right">
				<img src="{{asset('/img/atHome.jpg')}}" alt="">
				<h3>A la Maison</h3>
			</a>
		</div>
	</section>
{% endblock %}
