{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{encore_entry_link_tags('admin')}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{encore_entry_script_tags('admin')}}
{% endblock %}

{% block body %}
    <section class="">
        {% include "Home/_dashboard.html.twig" %}
        <div class="hstart-content">
            <h2 class='title'>Tendances</h2>
            {% include "Home/_swiperTendance.html.twig" %}
        </div>

        <div class="home-new">
            <h2 class="title">Nouveautés</h2>
            {% include "Home/_swiperNew.html.twig" %}
        </div>
       

        
    </section>
{% endblock %}
