{% extends "base.html.twig" %}

{% block body %}
<section class="container">
    <h1 class="text-center">creation de programme</h1>
    {% include "Backend/Programme/_form.html.twig" %}
</section>
{% endblock %}