{% extends "base.html.twig" %}

{% block title %}
    Modification Programmes
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	{{encore_entry_link_tags('admin')}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{encore_entry_script_tags('admin')}}
{% endblock %}


{% block body %}
    <section class="content">
        <h1 class="text-center">Modification Programme</h1>
        {% include "Backend/Programme/_form.html.twig" %}
    </section>
{% endblock %}