{% extends 'base.html.twig' %}

{% block title %}Hello ProgrammeController!
{% endblock %}

{% block body %}
	{% for programme in programmes %}
		<p>{{programme.name}}</p>
		{% for exercice in programme.exerciceMaisons %}
			<p>{{exercice.name}}</p>
		{% endfor %}
	{% endfor %}
{% endblock %}
