{% extends 'base.html.twig' %}

{% block title %}Hello ProgrammeController!
{% endblock %}

{% block body %}
	{% for programme in programmes %}

		<p>{{programme.categorie.name}}</p>

	{% endfor %}
{% endblock %}
