{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1>Reset your password</h1>
    <div id="center-form">
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="button btn-principal">Renitialiser le mot de passe</button>
    {{ form_end(resetForm) }}
    </div>
{% endblock %}
