{% extends "base.html.twig" %}

{% block title %}Creation de Programme
{% endblock %}

{% block body %}
	<section class="content">
		<h1 class="text-center">Creation de mon programme</h1>
		{% include "Backend/Programme/_form.html.twig" %}

		<a href="{{path('user.profile',{id:app.user.id})}}" class='btn-dng button'>Annuler</a>
	</section>
{% endblock %}
