{% extends 'base.html.twig' %}

{% block title %}Hello ProgrammeController!
{% endblock %}

{% block body %}
	{% for programme in programmes %}
		<div class="proList">
			<p>{{programme.name}}</p>
		</div>
	{% endfor %}
{% endblock %}
