{% extends 'base.html.twig' %}

{% block title %}Hello ProgrammeController!
{% endblock %}

{% block body %}
	<section class="content">
		<div class="programme-header {{ app.request.get('type') }}"></div>

		{% set previousName = '' %}
		{% for programme in programmes %}
			<a href="{{ path('user.programmes.list', {slug: programme.categorie.slug, type: programme.type}) }}">
				{% if programme.categorie.name != previousName %}
					<div class="cateList" style="background: center / cover url('{{ vich_uploader_asset(programme.categorie) }}')">
						<p>{{ programme.categorie.name }}</p>
					</div>
					{% set previousName = programme.categorie.name %}
				{% endif %}
			</a>
		{% endfor %}
	</section>
{% endblock %}
