{% extends "base.html.twig" %}

{% block title %}
	Liste programmes
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="content">
		<div class="programme-header" style="background: center / cover url('{{ categorie ? vich_uploader_asset(categorie) : '#' }}')"></div>
		<h1 class="text-center">Programmes</h1>


		{% for programme in programmes %}


			<a href='{{path('user.programmes.details',{slug:programme.slug})}}' class="proList">
				<p>{{ programme.getName() }}</p>
			</a>


		{% endfor %}
	</section>
{% endblock %}
