{% extends "base.html.twig" %}

{% block title %}
	liste programmes
	{{parent()}}
{% endblock %}

{% block body %}

	<section class="content">
		<h1 class="text-center">Programmes</h1>

		{% for programme in programmes %}
			<a href="{{path('user.programmes.details', {slug:programme.slug})}}">
				<div class="proList">
					<p>{{programme.name}}</p>
				</div>
			</a>


		{% endfor %}
	</section>
{% endblock %}
