{% extends "base.html.twig" %}

{% block title %}
    Modification Categorie
    {{parent()}}
{% endblock %}

{% block body %}
    <section class="content">
        <h1 class="text-center">Modification Categorie</h1>
        {% include "Backend/Categorie/_form.html.twig" %}
    </section>
{% endblock %}