{% extends 'base.html.twig' %}

{% block title %}Edit Membre{% endblock %}

{% block body %}
    <h1>Edit Membre</h1>

    {{ include('Backend/Membre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin.membre.index') }}">back to list</a>

   
{% endblock %}
