

*{
    margin: 0;
    padding: 0;
    
}
@font-face {
    font-family: BebasNeue;
    src: url(../font/BebasNeue-Regular.ttf);
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $background;
  
}
main{
    min-height: 100vh;
}

p{
    color: $text-color;
    text-align: justify;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.button{
    height: 40px;
    border-radius: $border-radius1;
    border : none;
    background: none;
    color: $text-color;
    font-weight: 700;
}
hr{
    color: $text-color;
}
h1{
    color: $text-color;
    font-weight: bold;
    text-transform: uppercase;
    padding: 75px 0;
    font-family: BebasNeue;
    text-align: center;
}
h2{
    font-weight: bold;
    font-family: BebasNeue;
    font-size: 3em;
    color: $text-color;
}

.container{
    margin: 70px auto;
}

.alert {
    margin-bottom: 0;
    opacity: 0.5;
    
  }

.separator{
    width: 80%;
    border-top: 2px solid $text-color;
    margin: 10px auto;

}

.btn-principal{
    background: $button-primary;
  transition: 0.3s ease;
  padding: 25px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: solid 1px $button-primary;
  text-transform: capitalize;
}

.btn-secondaire{
    border: solid 1px $button-primary;
    transition: 0.3s ease;
    padding: 25px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    text-transform: capitalize;

}
.filter-button{
    text-align: center;
    border: solid thin $button-primary;
    padding: 8px 20px;
    
}
.act{
    background: $button-primary;
    padding: 8px 20px;
    border: none;
}
.btn-dng{
    border: none;
    border-radius: 5px;
    background: rgb(255, 0, 0);
    transition: 0.3s ease;
    padding: 8px 12px;

}

.card-list{
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
    
    .blog-card{
        width: 25%;
        margin-top: 2em;
        border: solid thin;
        border-radius: 3px;
        box-shadow: $box-shadow;
        
        &-header{
            height: 1.5em;
            text-align: center;
            background: rgb(236, 235, 235);
        }

        p{
            margin-left: 7px;
        }

        .blog-card-btn{
            margin: 7px;
        }
        
    }
}

.closed{
    display: none;
}
.overflow{
    overflow: hidden;
}

.commentaire{
    background: rgba(0, 0, 0, 0.359);
    position: absolute;
    top: 0;
    left: 0;
    
    min-height: 100vh;
    overflow: hidden;
    width: 100vw;
    padding-top: 250px;
}

#center-form{
    max-width: 90vw;
    min-width: 50vw;
    margin: 30px auto;
    padding: 10px 20px;
    
    @media (min-width :980px){
        width: 50vw;
    }
    
}

.form-control{
    background: none;
    border: none;
    padding: 0 30px;
    border-bottom: solid thin $button-primary;
    color: $text-color
}

input{
    background: none;
    border: none;
    border-bottom:solid 1px $button-primary;
    color: $text-color;
    padding: 10px 30px;
    width: 100%;
}

::placeholder{
    color: $text-color;
    opacity: 1;
}
.form-control:focus{
    background: $button-primary;
    border: none;
    outline: none;
    color: $text-color;
}

label{
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 4px;
    color: $text-color;
}



.input-container{
    position: relative;
    display: flex;
    align-items: center;

    .icon{
        position: absolute;
        left: 10px;
        background: none;
        border: none;
        font-size: 0.9em;
        color: $text-color;
    }
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    button{
        width: 50%;
    }
}

.banner{
    height: 100vh;
}

.listing{
        background: rgba( 255, 255, 255, 0.15 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: 90vw;
        height: 100px;
        margin: 0 auto 45px;
        box-shadow: $box-shadow;
        padding: 0 20px ;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            text-transform: capitalize;
            font-weight: bold;
            font-size: 1.8em;
        }
    
}

.page{
    background: white;
    height: 20px;
    width: 20px;
}

