.dashboard{
    background: url(/assets/img/banner.jpg) center/cover no-repeat fixed;
    height: 92vh;
    position: relative;
    box-shadow: $box-shadow;
    .shape{
        background: #00345953;
        height: 40vh;
        width: 100%;
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        position: absolute;
        top: 0;
        left: 0;
    }
    .shape1{
        clip-path: polygon(100% 100%, 0% 100%, 100% 0);
        background: #00345953;
        height: 40vh;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .header-text{
        text-align: center;
        z-index: 100;
        position: relative;
        z-index: 1;
        p:first-child{
            font-family: BebasNeue;
            color: whitesmoke;
            font-weight: 800;
            font-size: 4em;
            text-align: center;
            padding-top: 150px;
        }
        h1{
            margin: 50px 0 0;
            padding: 0;
            color: green;
            font-size: 3em;
        }
    }
    button{
      margin-top: 120px;  
    }
}

.hstart-content{
    margin: 50px 0;
}

.tendance{
    border-radius: 12px;
    height: 70px;
    width: 50%;
    margin: 0 auto;
    
}

.title{
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    color: $text-color;
        hr{
            color: $text-color;
            width: 85%;
            margin: 70px auto;
        }
}

.htop-Content{ 
    width: 90vw;
    margin: 0 auto 70px;
    background: url('../img/background/bg-htop.jpg') fixed no-repeat center/cover;
    background-position: -150px;
    background-size: 90%;
    
    .left{
        display: none;
    }

    .right{
        background: rgba( 255, 255, 255, 0.15 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        backdrop-filter: blur( 8px );
        -webkit-backdrop-filter: blur( 4px );
        padding: 10px;

        p{
            font-weight: 600;
        }
    }

    
}

.hmiddle-content

{
    width: 90vw;
    margin: 0 auto;
    
    
    
   

    .pro-content{
       
        position: relative;
        border-radius: 6px;
        box-shadow: $box-shadow;
        display: block;
        height: 30vh;
        color: whitesmoke;

        

        img{
            z-index: -1;
            border-radius: 5px;
            width: 100%;
            height: 100%;
        }
        h3{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
            font-family: $title-fam;
            z-index: 3;
            font-weight: 700;
            font-size: 4em;
            letter-spacing: 1.5px;
            color: $button-primary;
            border-radius: 4px;
            background: rgba(0, 0, 0, 0.099);
            padding: 0 30px;
        }
        margin-bottom: 30px;
    }

    

}

.bottom-content {
    min-height: 100vh;
    width: 90vw;
    
    margin: 0 auto;

    .section2{
        height: 25vh;
    p{
        text-align: center;
        color: $button-primary;
        font-weight: 600;
    } 
    a{
        margin: 0 auto;
    }
    }
    
    .section1{
        padding: 200px 0;
        height: 25vh;
        background: fixed no-repeat url('../img/background/background-home1.jpg');
        background-size: 100%;
        background-position: 180px;
      i{
        border: solid 3px $button-primary;
        border-radius: 50%;
        padding: 25px;
        display: flex;
        justify-content: center;
        width: 20px;
        margin: 0 auto;
    }  
    }
    

}