nav{
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: $box-shadow;
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  backdrop-filter: blur( 12px );
  -webkit-backdrop-filter: blur( 12px );
  height: 70px;
  position: fixed;
  width: 350px;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  ul{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 0;
    
    li{
      color: $text-color;
      a{
        color: $text-color;

        :hover{
          transform: scale(11.5px);
        }
      }
    }

  }
  i{
    box-shadow: $box-shadow;
    
  }
  @media (min-width:768px){
    width: 350px;
  }
  @media (min-width:960px){
    width: 450px;
  }
}

.active{
  background: $button-primary;
  height: 60px;
  width: 70px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  i{
    color: $secondary-color;
  }
}