nav{
    position: fixed;
    height: 50px;
    width: 100%;
    background: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    top: 0;
    margin-bottom: 70px;
    z-index: 100;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    
    #burger-menu {
      cursor: pointer;
      height: 27px;
      width: 27px;
      margin: 50px;
      overflow: visible;
      position: relative;
      z-index: 2;
    
      // THE LINES
      span,
      span:before,
      span:after {
        background: #fff;
        display: block;
        height: 1px;
        opacity: 1;
        position: absolute;
        transition: 0.3s ease-in-out;
      }
    
      span:before,
      span:after {
        content: '';
      }
    
      // TOP
      span:before {
        left: 0px;
        top: -10px;
        width: 27px;
      }
    
      // MIDDLE
      span {
        right: 0px;
        top: 13px;
        width: 27px;
      }
    
      // BOTTOM
      span:after {
        left: 0px;
        top: 10px;
        width: 27px;
      }
    
      // ROTATION ON CLICK
      &.close {
        // TOP
        span:before {
          top: 0px;
          transform: rotate(90deg);
          width: 27px;
        }
    
        // MIDDLE
        span {
          transform: rotate(-45deg);
          top: 13px;
          width: 27px;
        }
    
        // BOTTOM
        span:after {
          top: 0px;
          left: 0;
          transform: rotate(90deg);
          opacity: 0;
          width: 0;
        }
      }
    }
    
    #menu {
      z-index: 1;
      min-width: 100%;
      min-height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      height: 0;
      visibility: hidden;
      opacity: 0;
      text-align: center;
      padding-top: 20px;
      transition: all 0.3s ease-in-out;
    
      &.overlay {
        visibility: visible;
        opacity: 1;
        padding-top: 100px;
        background: rgba(0, 0, 0, 0.9);
      }
    
      ul {
        padding: 0;
      }
    
      li {
        list-style: none;
      }
    
      a {
        color: #fff;
        display: block;
        font-size: 32px;
        margin: 20px 0;
        text-decoration: none;
      }
    }
  }
 
