$box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
$nav-shadow : 0 4px 2px -2px rgba(0,0,0,.2);
$background : #111212;
$text-color :  whitesmoke;
$primary-color :#5D3FD3;
$black: #00171F;
$border-radius1: 4px;
$border-radius2: 8px;
$button-primary: #5D3FD3;
$title-fam: BebasNeue;