{% extends "base.html.twig" %}

{% block body %}
<section class="container mt-4">
    <h1 class="text-center">Modification Utilisateur</h1>
    {% include "Backend/User/_form.html.twig" %}
</section>
    
{% endblock %}