.profile{
    color: $text-color;
    text-align: center;
    img{
        border: solid thin;
        border-radius: 100%;
        height: 150px;
        width: 150px;
    }
    .me{
      
        padding: 0 50px;
    }

    .info{
        border-radius: $border-radius1;
        border: solid thin;
        width: 85vw;
        margin: 20px auto;
        background: $secondary-color;
        padding: 20px 0;
        box-shadow: $box-shadow;
        
        .btn-container{
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }
    }
    
}