.categList{
    background: white;
    width: 90%;
    height: 100px;
    padding: 10px 5px;
    margin: 15px auto;
    border-radius: 5px;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    p{
        font-weight: bold;
        margin-left: 15px;
        text-transform: uppercase;
        font-size: 3em;
    }
}

.proList, .exList{
    background: $secondary-color;
    color: $text-color;
    border-radius: $border-radius1;
    width: 90%;
    height: 70px;
    padding: 10px 30px;
    margin: 30px auto;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    p{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2.3em;
    }
}