
.cateList{
   display: flex;
    align-items: center;
    height: 150px;
    width: 90vw;
    margin: 70px auto;
    box-shadow: $box-shadow;
    border-radius: $border-radius2;
  

    p{
        margin: 0 auto ;
        font-size: 9em;
        font-weight: bold;
        font-family: BebasNeue;
        text-transform: uppercase;

    }

}

.proList, .exList{
    display: block;
    position: relative;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 90vw;
    min-height: 100px;
    margin: 0 auto 45px;
    box-shadow: $box-shadow;
    padding: 0 20px ;
    text-align: center;
    p{
        text-align: center;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 1.8em;
    }
    button{
        position: absolute;
        top: 0;
        right: 10px;
        background: none;
        border: none;
    }
}


.display{
    background: whitesmoke;
    color: black;
    padding: 20px;

    h2{
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: 600;
    }

    .display-content{
        color: black;
    }
}

.programme-header {
    height: 50vh;
    padding-top: 100px;
    p{
        
        font-weight: 600;
        font-size: 4em;
        background: rgba(0, 0, 0, 0.272);
        padding: 10px;
        text-align: center;
        font-family: $title-fam;
    }
}

.exList{
    .titre{
        font-family: $title-fam;
        background: none;
    }
    p{
            margin: 10px auto;
            background: $primary-color;
            box-shadow: $box-shadow;
            border-radius: 3px;
            width: 80%;
            font-weight: 300;
        
    }
}

.overlay{
    position: absolute;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.592);
    width: 100vw;
    top: 0;
    left: 0;
}

