.exercice-container{
    min-height: 100vh;
    text-align: center;
    padding-top: 40px;
    h2{
        font-size: 3.5em;
        margin-bottom: 100px;
    }
    p{
        font-weight: 600;
        margin-bottom: 5px;
        font-size: 2em;
        text-align: center;
        :last-child{
            text-align: justify;
        }
    }
    
    .repos{
        background: $primary-color;
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }

}


.hidden{
    display: none;
}
