{% extends "base.html.twig" %}

{% block body %}
	<section class="container">
		<h1 class="text-center">Mes infos</h1>

		<div id="center-form">
		{{form_start(form,{'attr': {'class': ""}})}}
		{{form_widget(form)}}
		<div class="btn-container">
		<button type="submit" class='button btn-principal'>Modifier</button>
		</div>
		{{form_end(form)}}
		</div>
	</section>

{% endblock %}
