{% extends "base.html.twig" %}

{% block title %}
	Profile
{% endblock %}

{% block body %}
	<section class="content profile">
		<h1>profile</h1>

		<div class="user-info">
			<div class="left">
			<img src="{{vich_uploader_asset(user)}}" alt="" width='70' height='70'>
			</div>
			<div class="right">
				<div class="top">
					<p>{{user.username}}</p>
					<a href='{{path('user.profile.edit',{id:user.id})}}'><i class="fa-regular fa-pen-to-square"></i></a>
				</div>
				<div class="bottom">
				</div>
			</div>
		</div>
	</section>
{% endblock %}