{% extends "base.html.twig" %}

{% block title %}
	Creation Type Programme
{% endblock %}

{% block body %}
	<section class="content">
		<h1 class="text-center">Creation des Types</h1>
		{% include "Frontend/Programme/_form.html.twig" %}
	</section>
{% endblock %}
