{% extends "base.html.twig" %}

{% block body %}
	<section class="container">
		<h1>Creation D'exercice</h1>
		<div id="center-form">
		{{form_start(form)}}
		{{form_row(form)}}
		<div class="btn-container">
		<button type="submit" class="button btn-secondaire">Ajouter</button>
		</div>
		{{form_end(form)}}
		</div>
	</section>
{% endblock %}
