{% extends "base.html.twig" %}

{% block title %}
    Modification exercice
{% endblock %}

{% block body %}
    <section class="content">
        <h1 class="text-center">Modification Exercice</h1>
        {% include "Backend/Categorie/_form.html.twig" %}
    </section>
{% endblock %}