<nav>
	<div class="logo">
		<p>Sporting</p>
	</div>
	<div id="mySidenav" class="sidenav">
		<a id="closeBtn" href="#" class="close">×</a>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Programmes</a></li>
			<li><a href="#">Exercices</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>

	<a href="#" id="openBtn">
		<span class="burger-icon">
			<span></span>
			<span></span>
			<span></span>
		</span>
	</a>


</nav>
