<nav>
	<div class="logo">
		<p>Sporting</p>
	</div>
	<div id="burger-menu">
		<span></span>
	</div>

	<div id="menu">
		<ul>
			<li><a class='wi'href="{{path('app.home')}}">Home</a></li>
			<li><a class='wi' href="/logout">Deconnexion</a></li>
		</ul>
	</div>

</nav>
